.Catalogtitle{
    font-family: 'Times New Roman', Times, serif;
}

img.orcoprinci{
    width: 30%;
}

body{
     
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-image: url("Img/background.png"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
}

h1 {
    font-family: 'Pirata One', serif;
    font-size: 8rem;
    color: #b07215;            /* Dorado quemado */
    text-shadow: 3px 3px 10px black;
    margin: 40px 0;
    text-align: center;
    letter-spacing: 20px;
}

h1.supertitle {
    font-family: 'IM Fell English SC', serif;
    font-size: 5rem;
    color: #c8892b;            /* Dorado quemado */
    text-shadow: 3px 3px 10px black;
    margin: 30px 0;
    text-align: center;
}

.card{
    width: 720px;        
    height: 1500px; 
    padding: 15;
    background:url('/Img/fondocard.png');
    background-size: cover;
    background-position: center;

    margin:20px;
    border-radius: 20px;
    border: 3px solid #5a1f12;
    box-shadow: 0 0 15px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card figure img {

    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid #8b2b15;
    display: block;
    margin: 0 auto 10px;

}

.card h2 {

    text-align: center;
    color: #ffb27c;
    margin-bottom: 10px;
    font-size: 6rem
}

.card p {

    text-align: center;
    color: #ffb27c;
    margin-bottom: 10px;
    font-size: 3rem
}

.row {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

}
