h1 {
    font-family: 'Pirata One', serif;
    font-size: 104px;
    color: #b07215;
    /* Dorado quemado */
    text-shadow: 3px 3px 10px black;
    margin: 5px 0px 10px;
    text-shadow: 2px 2px 1px #5c1f0e,
        8px 8px 15px #000000;
    padding-left: 30px;
    letter-spacing: 5px;
    height: 100px;
}

#subtitle {
    font-family: 'Pirata One', serif;
    font-size: 30px;
    margin-left: 30px;
    letter-spacing: 3px;
    color: #bc7f25;
    text-shadow: 1px 1px 1px #4e0606,
        1px 1px 1px #000000;
}

nav {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: url(Img/fondo_redirect.png);
    background-size: cover;
    background-position: center;
}

.redirect {
    font-size: 32px;
    font-family: 'Pirata One', cursive;
    color: #b07215;
    text-shadow: 2px 2px 8px black;
    padding: 5px;
    letter-spacing: 5px;
}

body {
    background-image: url(Img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
}

section {
    background: url(Img/segundofondo.png);
}

#introduction {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'IM Fell English SC', serif;
    font-size: 24px;
    color: #0e0e0e;
    line-height: 0.95;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

.title_intro {
    color: #b07215;
    text-shadow: 2px 4px 2px #000000,
        4px 4px 8px #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

#relations {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'IM Fell English SC', serif;
    font-size: 24px;
    color: #0e0e0e;
    line-height: 0.95;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

#Rules {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: 'IM Fell English SC', serif;
    font-size: 24px;
    color: #0e0e0e;
    line-height: 0.95;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

#patas {
    flex-direction: column;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
    margin: 5px;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background: url(Img/fondo_footer.png);
    background-size: cover;
    background-position: center;
    color: blanchedalmond
}

#patas .links {
    display: flex;
    gap: 200px;
    margin-bottom: 5px;
}

#derechos {
    text-align: center;
    font-size: 12px;
    font-family: 'IM Fell English SC', serif;
    position: center;
    color: blanchedalmond
}

#play_music {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.507);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.dropdown-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Image of principal button */
.relation-icon {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    filter: drop-shadow(0 0 6px #000);
}

/* hover effect */
.relation-icon:hover {
    transform: scale(1.12);
    filter:
        drop-shadow(0 0 10px #ff5a00) drop-shadow(0 0 20px #ff8c00) brightness(1.3);
}

.relation-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline;
}

/* Hide menu initially */
.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(20, 20, 20, 0.95);
    border: 2px solid #b07215;
    border-radius: 10px;
    padding: 15px;
    min-width: 240px;
    z-index: 2000;
    /* EFECTO BRILLO FORJA */
    box-shadow:
        0 0 10px #ff4d00,
        0 0 20px #ff8c00,
        0 0 30px rgba(255, 100, 0, 0.5);

    opacity: 0;
    transform-origin: top;
    transform: translateX(-50%) scale(0.95);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/*Show menu to make hover*/
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/*Elements inside menu*/
.dropdown-content a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    color: #ffd27e;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.dropdown-content a:hover {
    background: rgba(255, 220, 120, 0.15);
}

/*Image of the world*/
.dropdown-content img {
    width: 145px;
    height: 145px;
}
