/* Contenedor donde estarán los 3 botones */
.relations-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

/* Cada dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

#boton_uno{
    background-image: url("imgs/panas.jpg");
    background-size: 100px;

}
/* Botones con imagen */
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-btn img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* Menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 10px;
  min-width: 200px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

/* Mostrar menú */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Opciones del menú */
.dropdown-content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  border-radius: 6px;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown-content img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}
